
img {
    min-width: 226px;
    max-width: 226px;
    width: 226px;
    max-height: 226px;
    height: 226px;
    border-radius: 4px;
}
 .member_links {
    width: 350px;
    max-height: 320px;
 }
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: #363636;
}
figure {
    margin-top: 12px;
}
