.container {
    display: flex;
    /* Use flexbox to create a row layout */
}

.left-panel {
    flex: 1;
    /* Allow the left panel (brewery cards) to grow to fill available space */
    padding: 20px;
    /* Add some padding for spacing */
}

.right-panel {
    flex: 2;
    /* Make the right panel (map) twice as wide as the left panel */
    margin-left: 20px;
    /* Add some margin to separate the panels */
}

#mapid {
    height: 100%;
    /* Adjust the map's height to fill the right panel */
    width: 100%;
    /* Adjust the map's width to fill the right panel */
}

/* CSS for Team Member images */
.team-member-image {
    width: 150px; /* Set a fixed width for the images */
    height: 150px; /* Set a fixed height for the images */
    border-radius: 50%; /* Make the images circular */
    object-fit: cover; /* Maintain image aspect ratio and cover the entire space */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
  }
  
  /* CSS for evenly distributing Team Member tiles */
  .team_container {
    display: flex;
    justify-content: space-between; /* Distribute tiles evenly */
    flex-wrap: wrap; /* Allow tiles to wrap to the next row if needed */
  }
  
  .team_member {
    flex: 0 0 calc(20% - 20px); /* Set width for each tile (adjust as needed) */
  }
 